<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
<<<<<<< HEAD
    <%= stylesheet_link_tag    "application",
                                media: "all",
                                "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
=======
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
>>>>>>> 342fde192af769fab7f8b3185cafd3197f4ee0c6
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
<<<<<<< HEAD
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
=======
       <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
>>>>>>> 342fde192af769fab7f8b3185cafd3197f4ee0c6
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
<<<<<<< HEAD
    </div>
=======
     </div>
>>>>>>> 342fde192af769fab7f8b3185cafd3197f4ee0c6
  </body>
</html>